@font-face {
  font-family: "Norse";
  src: url("./fonts/norse-bold/Norse-Bold.woff2") format("woff2"),
    url("./fonts/norse-bold/Norse-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --default-font: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --logo-font: "Norse", system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--default-font);
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.main-container {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.sidebar-container {
  height: 100%;
  flex: 1;
  background: url(./images/sidebar-background.jpg) center / cover no-repeat;
  display: flex;
  flex-direction: column;
  padding: 1.6rem 0;
  min-width: 350px;
}

.logo-container {
  margin-top: 14.4rem;
  padding: 0.8rem;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 5rem;
}

.sidebar-logo {
  width: clamp(5rem, 20%, 7.5rem);
  height: auto;
}

.logo-text {
  color: #ffffff;
  text-transform: uppercase;
  font-family: var(--logo-font);
  font-size: clamp(4.8rem, calc(1rem + 5vw), 7.2rem);
}

.credit-container {
  margin-top: auto;
}

.image-credit,
.image-credit a {
  color: #ffffff;
  font-size: 1.2rem;
  text-align: center;
  margin-top: auto;
  text-shadow: 0 0 4px #000000;
}

.image-credit a {
  text-decoration: none;
}

.image-credit cite {
  font-style: normal;
}

.content-container {
  flex: 2;
  padding: 9.6rem 3.2rem;
}

.form-info {
  background-color: red;
  min-width: 50ch;
  max-width: 75ch;
}

.form-info > :first-child {
  margin-bottom: 1.6rem;
}

.form-info > :last-child {
  margin-bottom: 1.8rem;
}
